<link rel="stylesheet" href="/css/blog.css">
<div class="div-container">
    <% if(blog != null) { %>
        
            <div class="image-container">
                <img src="/assets/images/<%= blog.blog_image %>" alt="" style="height: 378px;">
            </div>
            <div class="content">
                <category><%= blog.category %></category>
                <h1 class="title"><%= blog.title %></h1>
                <hr>
                <h2 class="desc"><%= blog.content %></h2>
                <hr>
                <div class="small-image">
                    <img src="/assets/images/<%= blog.author_img %>">
                    <div class="author-text">
                        <h3>Alex</h3>
                        <h4>From USA</h4>
                    </div>
                </div>
            </div>
    <% } else { %>
        <p>Nothing Found</p>
   <% } %>
</div>
